/* Colors */
:root {
    --burgundy-color: #80344b;
    --gold-color: #f1d06e;
    --background-color: #000;
    --text-color: #c6c6c7;
}

/* HTML */
html {
    scroll-behavior: smooth;
   
}

/* Body */
body {
        width: 100%;
        height: auto;
}

/* Mobile Styles */
@media screen and (min-width: 280px) and (max-width: 374px) {
    body {
        font-size: 0.875rem; 
        background-color: var(--background-color);
        color: var(--text-color);
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        font-family:Arial, Helvetica, sans-serif;
        width: 100%;
        height: auto;
    }
}

/* Mobile Styles */
@media screen and (min-width: 375px) and (max-width: 480px) {
    body {
        font-size: 0.875rem; 
        background-color: var(--background-color);
        color: var(--text-color);
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        font-family:Arial, Helvetica, sans-serif;
        width: 100%;
        height: auto;
    }
}

/* Large Phones (e.g., iPhone 11 Pro Max) */
@media screen and (min-width: 481px) and (max-width: 767px) {
    body {
        font-size: 0.938rem; 
        background-color: var(--background-color);
        color: var(--text-color);
        line-height: 1.5;
        margin: 0;
        padding: 0;
        font-family:Arial, Helvetica, sans-serif
    }
}

/* Tablets (e.g., iPad) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 1rem; 
        background-color: var(--background-color);
        color: var(--text-color);
        line-height: 1.5;
        margin: 0;
        padding: 0;
        font-family:Arial, Helvetica, sans-serif
    }
}

/* 13-inch Laptops */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    body {
        font-size: 1.063rem; 
        background-color: var(--background-color);
        color: var(--text-color);
        line-height: 1.5;
        margin: 0;
        padding: 0;
        font-family:Arial, Helvetica, sans-serif
    }
}

/* 15-inch Laptops */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    body {
        font-size: 1.125rem; 
        background-color: var(--background-color);
        color: var(--text-color);
        line-height: 1.5;
        margin: 0;
        padding: 0;
        font-family:Arial, Helvetica, sans-serif
    }
}

/* 17-inch Laptops */
@media screen and (min-width: 1400px) and (max-width: 1599px) {
    body {
        font-size: 1.188rem; 
        background-color: var(--background-color);
        color: var(--text-color);
        line-height: 1.5;
        margin: 0;
        padding: 0;
        font-family:Arial, Helvetica, sans-serif
    }
}

/* 19-inch Laptops */
@media screen and (min-width: 1600px) and (max-width: 1799px) {
    body {
        font-size: 1.25rem; 
        background-color: var(--background-color);
        color: var(--text-color);
        line-height: 1.5;
        margin: 0;
        padding: 0;
        font-family:Arial, Helvetica, sans-serif
    }
}

/* 22-inch Screens */
@media screen and (min-width: 1800px) {
    body {
        font-size: 1.313rem; 
        background-color: var(--background-color);
        color: var(--text-color);
        line-height: 1.5;
        margin: 0;
        padding: 0;
        font-family:Arial, Helvetica, sans-serif
    }
}


/* Header Styles */



header {
    background: linear-gradient(to bottom, var(--burgundy-color) 20%, var(--background-color) 80%);
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}

/* Mobile Styles */
@media screen and (max-width: 480px) {
    header {
        background: linear-gradient(to bottom, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    
    }
}

/* Large Phones (e.g., iPhone 11 Pro Max) */
@media screen and (min-width: 481px) and (max-width: 767px) {
    header {
        background: linear-gradient(to bottom, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;    
    }
}

/* Tablets (e.g., iPad) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        background: linear-gradient(to bottom, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;    
    }
}

/* 13-inch Laptops */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    header {
        background: linear-gradient(to bottom, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;    
    }
}

/* 15-inch Laptops */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    header {
        background: linear-gradient(to bottom, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;    
    }
}

/* 17-inch Laptops */
@media screen and (min-width: 1400px) and (max-width: 1599px) {
    header {
        background: linear-gradient(to bottom, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        
        padding: 1rem; 
        
        
        position: relative; 
       
        flex-direction: column; 
       
    }
}

/* 19-inch Laptops */
@media screen and (min-width: 1600px) and (max-width: 1799px) {
    header {
        background: linear-gradient(to bottom, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;    
    }
}

/* 22-inch Screens */
@media screen and (min-width: 1800px) {
    header {
        background: linear-gradient(to bottom, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    
    }
}



/* Header Image logo */
header img {
    width: 35%;
    max-width: 35%; 
    height: auto;
}

/* Media Query for 12-inch Laptops */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    header img {
        width: 30%;
        max-width: 30%; 
        height: auto;
        position: relative;
        left: -2.7em;
        top: 2%;
    } 
}

/* Media Query for 13-inch Laptops */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    header img {
        width: 30%;
        max-width: 30%; 
        height: auto;
        position: relative;
        left: -3.5em;
        top: 2%;
    }  

}
/* Media Query for 15-inch Laptops */
@media screen and (min-width: 1400px) and (max-width: 1599px) {
    header img {
        width: 30%;
        max-width: 30%; 
        height: auto;
        position: relative;
        left: 2%;
        top: 2%;
    } 
}

/* Media Query for 17-inch Laptops */
@media screen and (min-width: 1600px) and (max-width: 1799px) {
    header img {
        width: 30%;
        max-width: 30%; 
        height: auto;
        position: relative;
        left: -4em;
        top:1.3em;
    } 
}




header h1 {
    font-size: 1.5em; 
    margin: 0; 
    text-align: center;
    flex-grow: 1; 
    margin-top: 2em;
}

header h2 {
    font-size: 1.5em; 
    margin: 0; 
    text-align: center;
    flex-grow: 1; 
    margin-top: 2em;
}

/* Media Query for Small Phones */
@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.5em; 
        margin: 0; 
        position: absolute; 
        top: 50%;
        left: 4%; 
        transform: translateY(-50%); 
        border-bottom: 0.15em solid var(--gold-color);
        padding-bottom:  0.1em;
    }

    header h2 {
        font-size: 1.5em; 
        margin: 0; 
        position: absolute;
        left: 38%;
        border-bottom: 0.1em solid var(--gold-color);
        padding-bottom:  0.1em;
    }
}

/* Media Query for Phones */
@media screen and (min-width: 481px) and (max-width: 767px) {
    header h1 {
        font-size: 2em; 
        margin: 0; 
        position: absolute; 
        top: 50%;
        left: 4%; 
        transform: translateY(-50%); 
        border-bottom: 0.15em solid var(--gold-color);
        padding-bottom:  0.1em;
    }

    header h2 {
        font-size: 1em; 
        margin: 0; 
        position: absolute;
        left: 38%;
        border-bottom: 0.1em solid var(--gold-color);
        padding-bottom:  0.1em;
    }
}

/* Media Query for Tablets (e.g., iPad) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header h1 {
        font-size: 2.5em; 
        margin: 0; 
        position: absolute; 
        top: 50%;
        left: 4%; 
        transform: translateY(-50%); 
        border-bottom: 0.15em solid var(--gold-color);
        padding-bottom:  0.1em;
    }

    header h2 {
        font-size: 2.5em; 
        margin: 0; 
        position: absolute;
        left: 38%;
        border-bottom: 0.1em solid var(--gold-color);
        padding-bottom:  0.1em; border-top: 0.15em solid var(--gold-color);
        padding-top:  0.1em;
    }
}

/* Media Query for 12-inch Laptops */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    header h1 {
        font-size: 2.5em; 
        margin: 0; 
        position: absolute; 
        top: 50%;
        left: 4%; 
        transform: translateY(-50%); 
        border-bottom: 0.15em solid var(--gold-color);
        padding-bottom:  0.1em;
    }

    header h2 {
        font-size: 2.5em; 
        margin: 0; 
        position: absolute;
        left: 34%;
        border-bottom: 0.1em solid var(--gold-color);
        padding-bottom:  0.1em;
    }
}

/* Media Query for 13-inch Laptops */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    header h1 {
        font-size: 2.5em; 
        margin: 0; 
        position: absolute; 
        top: 50%;
        left: 4%; 
        transform: translateY(-50%); 
        border-bottom: 0.15em solid var(--gold-color);
        padding-bottom:  0.1em;
    }

    header h2 {
        font-size: 2.5em; 
        margin: 0; 
        position: absolute;
        left: 32%;
        border-bottom: 0.1em solid var(--gold-color);
        padding-bottom:  0.1em;
    }
}

/* Media Query for 15-inch Laptops */
@media screen and (min-width: 1400px) and (max-width: 1599px) {
    header h1  {
        font-size: 3.5em;
        margin: 0; 
        position: absolute; 
        top: 50%;
        left: 8%; 
        transform: translateY(-50%); 
        border-bottom: 0.15em solid var(--gold-color);
        padding-bottom:  0.1em;
    }

    header h2 {
        font-size: 3.5em; 
        margin: 0; 
        position: absolute;
        top: 34%;
        left: 78%;
        border-bottom: 0.1em solid var(--gold-color);
        padding-bottom:  0.1em;
}
}

/* Media Query for 17-inch Laptops */
@media screen and (min-width: 1600px) and (max-width: 1799px) {
    header h1 {
        font-size: 3em; 
        margin: 0; 
        position: absolute; 
        top: 50%;
        left: 4%; 
        transform: translateY(-50%); 
        border-bottom: 0.1em solid var(--gold-color);
        padding-bottom:  0.1em;
      
    }

    header h2 {
        font-size: 3em; 
        margin: 0; 
        position: absolute;
        left: 38%;
        border-bottom: 0.1em solid var(--gold-color);
        padding-bottom:  0.1em;

    } 
}

/* Media Query for 19-inch Laptops */
@media screen and (min-width: 1800px) and (max-width: 1999px) {
    header h1 {
        font-size: 4.5em; 
        margin: 0; 
        position: absolute; 
        top: 50%;
        left: 4%; 
        transform: translateY(-50%);
        border-bottom: 0.15em solid var(--gold-color);
        padding-bottom:  0.1em;
    }

    header h2 {
        font-size: 4.5em; 
        margin: 0; 
        position: absolute;
        left: 38%;
        border-bottom: 0.1em solid var(--gold-color);
        padding-bottom:  0.1em;
    }
}

/* Media Query for 22-inch Screens and Above */
@media screen and (min-width: 2000px) {
    header h1 {
        font-size: 5em; 
        margin: 0; 
        position: absolute; 
        top: 50%;
        left: 4%; 
        transform: translateY(-50%); 
        border-bottom: 0.15em solid var(--gold-color);
        padding-bottom:  0.1em;
    }

    header h2 {
        font-size: 5em; 
        margin: 0; 
        position: absolute;
        left: 38%;
        border-bottom: 0.1em solid var(--gold-color);
        padding-bottom:  0.1em;
    }
}



/* Hamburger menu */
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    display: block; 
    margin-right: 2em;
}

.bar {
    display: block;
    width: 1.5625em; 
    height: 0.1875em; 
    margin: 0.3125em auto;
    background-color: var(--gold-color);
}

#main-nav {
    display: none;
}

#main-nav.open {
    display: block;
}

#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main-nav li {
    margin: 0 2px;
}

#main-nav a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
}



@media screen and (max-width: 1023px) {
    #main-nav {
        display: none; 
     
    }

    .hamburger {
        display: block; 
    }
   
    #main-nav .active {
        color: var(--gold-color);
        text-decoration: overline;
    }
}



/* Media Query for Desktop Screens */
@media screen and (min-width: 1024px) {
    #main-nav {
        display: flex;
        justify-content: center;
     
    }

    #main-nav ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    #main-nav li {
        margin: 0 2px;
    }

    #main-nav a {
        color: var(--text-color); 
        text-decoration: none;
        font-size: 1em; 
        padding: 0.5em 1em; 
        border-radius: 5px; 
        transition: background-color 0.3s ease; 
    }

    #main-nav a:hover {
        background-color: var(--burgundy-color); 
    }

   #main-nav .active {
        color: var(--gold-color);
        text-decoration: overline;
    }

    .hamburger {
        display: none; 
    }
}








/* Footer Styles */
footer {
    background: linear-gradient(to top, var(--burgundy-color) 20%, var(--background-color) 80%);
    padding: 1rem;
    text-align: center;
}

/* Footer Media Queries */
/* Mobile Styles */
@media screen and (max-width: 480px) {
    footer {
        background: linear-gradient(to top, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
    }
}

/* Large Phones (e.g., iPhone 11 Pro Max) */
@media screen and (min-width: 481px) and (max-width: 767px) {
    footer {
        background: linear-gradient(to top, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
    }
}

/* Tablets (e.g., iPad) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    footer {
        background: linear-gradient(to top, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
    }
}

/* 13-inch Laptops */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    footer {
        background: linear-gradient(to top, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
    }
}

/* 15-inch Laptops */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    footer {
        background: linear-gradient(to top, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
    }
}

/* 17-inch Laptops */
@media screen and (min-width: 1400px) and (max-width: 1599px) {
    footer {
        background: linear-gradient(to top, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
    }
}

/* 19-inch Laptops */
@media screen and (min-width: 1600px) and (max-width: 1799px) {
    footer {
        background: linear-gradient(to top, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
    }
}

/* 22-inch Screens */
@media screen and (min-width: 1800px) {
    footer {
        background: linear-gradient(to top, var(--burgundy-color) 20%, var(--background-color) 80%);
        padding: 1rem;
        text-align: center;
    }
}

/* Footer logo */
footer nav img {
    width: 25%;
    max-width: 25%; 
    height: auto;
}

/* Footer navigation */
footer nav {
    display: flex;
    justify-content: center;
}

footer nav ul {
    margin-left: 20px; 
    display: flex;
    list-style: none;
    padding: 0;
}

footer nav ul li {
    margin: 60px 30px; 
    padding-left: 15px;
}










footer nav ul li:last-child {
    margin-right: 0; 
}

footer nav ul li a {
    text-decoration: none; 
    color: var(--text-color); 
    font-size: 1em; 
}

footer nav ul li a:hover {
    text-decoration: none; 
    background-color: var(--burgundy-color); 
    padding: 0.5em 1em; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}

.activation {
    color: var(--gold-color);
    text-decoration:overline;
}

/* Contact Information */
.contact-info {
    margin-top: 20px; 
}

.contact-info p {
    margin: 5px 0; 
    font-size: 0.9em; 
    color: var(--text-color); 
}

.contact-info a {
    text-decoration: none; 
    color: var(--text-color); 
}

.social-links {
    margin-top: 20px;
}

.social-links p {
    font-size: 0.8em;
    color: var(--text-color);
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
}

.social-links a img {
    width: 3.5em;
    height: 3.5em;
}

/* Media Query for Small Phones */
@media screen and (max-width: 480px) {
    .social-links a img {
        width: 3em;
        height: 3em;
    }
}

/* Media Query for Phones */
@media screen and (min-width: 481px) and (max-width: 767px) {
    .social-links a img {
        width: 4em;
        height: 4em;
    }
}

/* Media Query for Tablets (e.g., iPad) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .social-links a img {
        width: 4.5em;
        height: 4.5em;
    }
}

/* Media Query for 13-inch Laptops */
@media screen and (min-width: 1024px) and (max-width: 1399px) {
    .social-links a img {
        width: 5em;
        height: 5em;
    }
}

/* Media Query for 15-inch Laptops */
@media screen and (min-width: 1400px) and (max-width: 1499px) {
    .social-links a img {
        width: 5.5em;
        height: 5.5em;
    }
}

/* Media Query for 17-inch Laptops */
@media screen and (min-width: 1600px) and (max-width: 1799px) {
    .social-links a img {
        width: 6em;
        height: 6em;
    }
}

/* Media Query for 19-inch Laptops */
@media screen and (min-width: 1800px) and (max-width: 1999px) {
    .social-links a img {
        width: 6.5em;
        height: 6.5em;
    }
}

/* Media Query for 22-inch Screens and Above */
@media screen and (min-width: 2000px) {
    .social-links a img {
        width: 7em;
        height: 7em;
    }
}


